.content {
	background-color: var(--brand_dark);
	position: absolute;
	top: 60px;
	left: 60px;
	right: 60px;
	height: calc(100vh - 120px);
	&.welcome {
		padding: 120px 120px;
		display: grid;
		grid-template-columns: 1fr;
	}
}

.page_wrap {
	min-height: 100vh;
	position: relative;
	background-color: white;
}
