// Colors
$bg-color: hsl(256, 33, 10);
$dot-color: rgba(255, 255, 255, 0.2);
// Dimensions
$dot-size: 1px;
$dot-space: 6px;

.hero {
	height: 100vh;
	width: 100vw;
	position: relative;
	background-color: black;
	overflow: hidden;
	&:after {
		content: " ";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
			linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center, $dot-color;
		background-size: $dot-space $dot-space;
		z-index: 9;
	}
	video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		object-fit: cover;
		object-position: center;
		opacity: 0.2;
		z-index: 10;
		pointer-events: none;
	}
	.content {
		position: absolute;
		top: 55%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: var(--brand_white);
		z-index: 12;
		text-align: center;
		h1 {
			font-size: 48px;
			margin: 0;
			margin-bottom: 20px;
			font-weight: 600;
			line-height: 56px;
		}
		h4 {
			background-color: rgba(0, 0, 0, 0.3);
			border-radius: 4px;
			padding: 14px 38px;
			font-size: 14px;
			font-weight: 500;
			line-height: 21px;
			letter-spacing: 0.02em;
			margin-bottom: 60px;
		}
		.buttons {
			a {
				background-color: var(--brand_yellow);
				color: white;
				text-decoration: none;
				margin: 0 15px;
				font-size: 12px;
				text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
				border-radius: 5px;
				width: 180px;
				display: inline-block;
				padding: 14px 10px;
				text-transform: uppercase;
			}
		}
	}
}
