nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: var(--brand_dark);
	display: grid;
	grid-template-columns: auto 1fr 75px;
	gap: 40px;
	align-items: center;
	height: 75px;
	z-index: 12;
	.logo {
		font-size: 24px;
		font-weight: 600;
		color: var(--brand_white);
		text-decoration: none;
		margin-left: 25px;
	}
	ul {
		text-align: right;
		padding: 0;
		margin: 0;
		li {
			list-style-type: none;
			display: inline-block;
			margin-left: 30px;
			position: relative;
			a {
				font-size: 14px;
				font-weight: 600;
				color: var(--brand_white);
				text-transform: uppercase;
				text-decoration: none;
				position: relative;
				overflow: hidden;
				display: block;
				padding: 5px 0;
				&.is_active,
				&:hover {
					&:after {
						left: 0;
						transition: all 0.3s ease;
					}
				}
				&:after {
					content: " ";
					display: block;
					position: absolute;
					bottom: 0px;
					left: -102%;
					height: 2px;
					width: 100%;
					background-color: var(--brand_yellow);
					transition: all 0.3s ease;
				}
			}
		}
	}
	.contact_email {
		background-color: var(--brand_yellow);
		height: 75px;
		position: relative;
		svg {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}
