nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: white;
	padding: 0 60px;
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	height: 60px;
	ul {
		text-align: right;
		padding: 0;
		margin: 0;
		li {
			list-style-type: none;
			display: inline-block;
			margin-left: 30px;
			position: relative;
			a {
				font-size: 16px;
				color: var(--brand_dark);
				text-transform: uppercase;
				text-decoration: none;
				font-weight: 600;
				position: relative;
				overflow: hidden;
				display: block;
				&.is_active,
				&:hover {
					&:after {
						left: 0;
						transition: all 0.3s ease;
					}
				}
				&:after {
					content: " ";
					display: block;
					position: absolute;
					bottom: 0;
					left: -102%;
					height: 2px;
					width: 100%;
					background-color: var(--brand_dark);
					transition: all 0.3s ease;
				}
			}
		}
	}
}
