.social_sidebar {
	position: fixed;
	right: 0px;
	top: 75px;
	width: 75px;
	height: calc(100vh - 75px);
	background-color: var(--brand_dark);
	z-index: 11;
	.social_list {
		position: absolute;
		padding: 0;
		margin: 0;
		bottom: 30px;
		left: 50%;
		transform: translateX(-50%);
		&:after {
			content: " ";
			display: block;
			margin: 0 auto;
			margin-top: 25px;
			height: 80px;
			width: 1px;
			background-color: var(--brand_dark2);
		}
		li {
			list-style-type: none;
			margin: 5px 0;
			a {
				svg {
					width: 20px;
					color: var(--brand_white);
				}
			}
		}
	}
}
