.social_sidebar {
	padding: 0;
	margin: 0;
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	li {
		list-style-type: none;
		margin: 5px 0;
		a {
			svg {
				width: 20px;
				color: var(--brand_dark);
			}
		}
	}
}
