{
  "root": true,
  "extends": [
    // "next",
    "wesbos"
  ],
  "rules": {
    "no-console": 0,
    "react/prop-types": 0,
    "react/no-danger": 0,
    "react/destructuring-assignment": 0,
    "import/no-unresolved": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "array-callback-return": 0,
    "no-shadow": 0,
    "prettier/prettier": [
      "warn",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "printWidth": 120,
        "tabWidth": 4,
        "useTabs": true,
        "bracketSpacing": true,
        "endOfLine": "auto"
      }
    ]
  }
}
